# Welcome to cuDF: GPU Accelerated Dataframes

## What is cuDF?
cuDF is a powerful library designed for manipulating large datasets using the computational power of GPUs. It offers a familiar interface similar to pandas but can handle much larger datasets faster.

Let's start by installing cudf using pip. For other methods, please check the [RAPIDS Installation Guide](https://docs.rapids.ai/install/?_gl=1*1420qne*_ga*MTU3MTEzNzgxNC4xNzI0OTc1MzQ1*_ga_RKXFW6CM42*MTcyODM5MTMxNS4xNS4wLjE3MjgzOTEzMTUuNjAuMC4w)

In [1]:
!pip install \
    --extra-index-url=https://pypi.nvidia.com \
    cudf-cu12==24.8.*

Looking in indexes: https://pypi.org/simple, https://pypi.nvidia.com
Collecting cudf-cu12==24.8.*
  Downloading https://pypi.nvidia.com/cudf-cu12/cudf_cu12-24.8.3-cp311-cp311-manylinux_2_28_x86_64.whl (517.8 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 517.8/517.8 MB 45.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: cachetools in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (5.4.0)
Requirement already satisfied: cuda-python<13.0a0,>=12.0 in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (12.6.0)
Collecting cupy-cuda12x>=12.0.0 (from cudf-cu12==24.8.*)
  Downloading cupy_cuda12x-13.3.0-cp311-cp311-manylinux2014_x86_64.whl.metadata (2.7 kB)
Requirement already satisfied: fsspec>=0.6.0 in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (2024.6.1)
Requirement already satisfied: numba>=0.57 in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (0.60.0)
Requirement already satisfied: numpy<2.0a0,>=1.23 in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (1.26.4)
Requirement already satisfied: nvtx>=0.2.1 in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (0.2.10)
Requirement already satisfied: packaging in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (24.1)
Requirement already satisfied: pandas<2.2.3dev0,>=2.0 in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (2.2.2)
Requirement already satisfied: pyarrow<16.2.0a0,>=16.1.0 in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (16.1.0)
Requirement already satisfied: pynvjitlink-cu12 in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (0.3.0)
Requirement already satisfied: rich in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (13.7.1)
Collecting rmm-cu12==24.8.* (from cudf-cu12==24.8.*)
  Downloading https://pypi.nvidia.com/rmm-cu12/rmm_cu12-24.8.2-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.7/1.7 MB 57.0 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions>=4.0.0 in /opt/conda/lib/python3.11/site-packages (from cudf-cu12==24.8.*) (4.12.2)
Requirement already satisfied: fastrlock>=0.5 in /opt/conda/lib/python3.11/site-packages (from cupy-cuda12x>=12.0.0->cudf-cu12==24.8.*) (0.8.2)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /opt/conda/lib/python3.11/site-packages (from numba>=0.57->cudf-cu12==24.8.*) (0.43.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas<2.2.3dev0,>=2.0->cudf-cu12==24.8.*) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas<2.2.3dev0,>=2.0->cudf-cu12==24.8.*) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas<2.2.3dev0,>=2.0->cudf-cu12==24.8.*) (2024.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /opt/conda/lib/python3.11/site-packages (from rich->cudf-cu12==24.8.*) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/conda/lib/python3.11/site-packages (from rich->cudf-cu12==24.8.*) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /opt/conda/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich->cudf-cu12==24.8.*) (0.1.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas<2.2.3dev0,>=2.0->cudf-cu12==24.8.*) (1.16.0)
Downloading cupy_cuda12x-13.3.0-cp311-cp311-manylinux2014_x86_64.whl (91.2 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 91.2/91.2 MB 72.2 MB/s eta 0:00:00:00:0100:01
Installing collected packages: cupy-cuda12x, rmm-cu12, cudf-cu12
Successfully installed cudf-cu12-24.8.3 cupy-cuda12x-13.3.0 rmm-cu12-24.8.2

## üìä Your 1st cuDF Dataframe

Let‚Äôs start by creating our first cuDF DataFrame:

In [8]:
import cudf
import numpy as np

numRows = 1000000
# Create a DataFrame with cuDF
data = {
    'A': np.random.rand(numRows),
    'B': np.random.rand(numRows),
    'C': np.random.rand(numRows)
}
gdf = cudf.DataFrame(data)

# Display the first few rows
print(gdf.head())

          A         B         C
0  0.949641  0.879344  0.442241
1  0.393400  0.870158  0.498193
2  0.807076  0.506883  0.098362
3  0.102371  0.486801  0.730431
4  0.095091  0.677342  0.412487

## üìä Explore the DataFrame

Now that we have created the dataframe, let's explore it!

**Shape:**

In [3]:
gdf.shape

(1000000, 3)

As you can see, the first value corresponds to the number of rows we have, while the second indicates the number of columns we created.

Get a more comprehensive view of the dataframe using the .info method!

In [4]:
gdf.info

<bound method DataFrame.info of                A         B         C
0       0.067609  0.508237  0.849234
1       0.606739  0.271058  0.316622
2       0.232824  0.598659  0.014538
3       0.469160  0.715005  0.855415
4       0.452243  0.638148  0.736776
...          ...       ...       ...
999995  0.942827  0.801837  0.561716
999996  0.175658  0.403991  0.330349
999997  0.835403  0.953952  0.199196
999998  0.546117  0.175619  0.376347
999999  0.314654  0.914983  0.311265

[1000000 rows x 3 columns]>

## üìä Filtering Data

Filtering data is a breeze with cuDF! Let's say you want to filter rows where column 'A' is greater than 0.5:

In [10]:
filtered_gdf = gdf[gdf['A'] > 0.5]
filtered_gdf.shape
print(f"As you can tell from the shape of the new filtered dataframe, the number of rows reduced from {numRows} to {filtered_gdf.shape[0]}. That's {numRows - filtered_gdf.shape[0]} rows that we've filtered out with 'A' values less than 0.5!")

As you can tell from the shape of the new filtered dataframe, the number of rows reduced from 1000000 to 500559. That's 499441 rows that we've filtered out with 'A' values less than 0.5!

## üìä Grouping & Aggregating

Want to group your data and calculate averages? 
Let's create another dataframe with categories:

In [23]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A'],
    'Value': [10, 20, 30, 40, 50]
}
gdf = cudf.DataFrame(data)
gdf

  Category  Value
0        A     10
1        B     20
2        A     30
3        B     40
4        A     50

In [30]:
# Group by 'Category' and calculate the mean

grouped = gdf.groupby('Category')['Value'].mean().reset_index()
print(grouped)

  Category  Value
0        B   30.0
1        A   30.0

## üìä Data Manipulation

### Adding a New Column:

In [ ]:
gdf['NewValue'] = gdf['Value'] * 2

### Modifying Existing Columns:

In [ ]:
gdf['A'] = gdf['A'] ** 2

### Dropping Columns:

In [ ]:
gdf = gdf.drop('NewValue', axis=1)

### Renaming Columns:

In [ ]:
gdf = gdf.rename(columns={'Value': 'newValue', 'Category': 'newCategory'})

## üìä Sorting Data

### Sorting Column Values

In [ ]:
sorted_gdf = gdf.sort_values(by='newValue', ascending=True)

## üìä Handling Missing Data
### Detecting Missing Values:

In [ ]:
missing_mask = gdf.isnull()

### Filling Missing Values:

In [ ]:
gdf['newValue'] = gdf['newValue'].fillna(0)

### Dropping Missing Values:

In [ ]:
gdf = gdf.dropna()

## üìä Merging and Joining DataFrames

### Concatenating another Dataframe:

In [ ]:
additional_data = {
    'Category': ['A', 'C'],
    'Value': [60, 70]
}
gdf2 = cudf.DataFrame(additional_data)

combined_gdf = cudf.concat([gdf, gdf2], ignore_index=True)
print(combined_gdf)

## üìä Input/Output

In [ ]:
gdf.to_csv('output.csv', index=False) # To CSV